.container {
    display: flex;
    gap: 12px;
    margin: auto;
    max-width: 829px;
    align-items: baseline;
}

.queue {
    display: flex;
    gap: 16px;
    margin: 48px auto;
    box-sizing: content-box;
    flex-direction: row;
    justify-content: center;
    max-width: 944px; 
}